.landing-page {
color: white;
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.logo {
  grid-area: 1 / 1 / 2 / 2;
}

a.login-link {
  grid-area: 1 / 4 / 2 / 5;
}