.layout-container {
  background-color: transparent;
  position: fixed;
  z-index: 9999;
  text-align: center;
  width: 100%;
  color: white;
}

.logged-out-container {
  text-align: center;
}

.logged-out {
  text-align: center;
  margin-top: 10px;
  font-family: "Agency FB"; 
  letter-spacing: 2px;
  font-size: 40px;
  
}

.apex-logo {
  height: 400px;
}

.logo-out {
  text-align: center;
  margin: 0;
}

.desc-out {
  color: #A29FA4;
  margin: 0;
  font-size: 20px;
  padding-top: 8px;
}

.link-out {
  padding-top: 20px;
}

.link-login:link {
  color: #882831;
  text-decoration: none;
  
}
.link-login:visited {
  color: #882831;
  text-decoration: none;
}
.link-login:hover {
  color: white;
}
.link-login:active {
  color: #882831;
}


/* FOR LOGGED IN */


.logged-in {
  font-family: "Agency FB";  
  letter-spacing: 2px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-image: linear-gradient(#061123, black );
  -webkit-box-shadow: 20px 20px 20px black;
    -moz-box-shadow:    20px 20px 20px black;
    box-shadow:         20px 20px 20px black;
  height: 65px;
}

.logo-container {
  text-align: left;
  grid-area: 1 / 1 / 2 / 2;
}

.logo-in {
  font-size: 40px;
  padding: 15px 5px 5px 15px;
  margin: auto;
  color: white;
}

.logo-link {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, #c7353b, #c7353b 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.logo-link:hover {
  background-position: 0 100%;
}

.account-container {
  grid-area: 1 / 3 / 2 / 4;
  text-align: right;
}

.username {
  font-size: 15px;
  margin: auto;
  padding: 15px 15px 5px 5px;
}
span {
  color: #c7353b;
}

.logout-button {
  font-family: "Agency FB"; 
  margin-right: 15px; 
  padding: 3px 10px 5px 10px;
  color: white;
  display:inline-block;
  border-radius:0.15em;
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
   text-align:center;
   position:relative;
  background-color: #c7353b;
}

.logout-button:active {
  top: 0.8em;
}

.logout-button:hover {
  color: #c7353b;
  background:white;
  cursor:  pointer;
}

