

.legend {
  position: relative;
}

.legend:hover .overlay {
  opacity: 1;
}

.legend-image {
  height: 400px;
  display: block;
  transition: all .5s ease-in;
  transition: all .5s ease-out;
}
.legend-image:hover {
  transform: scale(1.1);
  opacity: .8;
  transition:opacity .6s;
  transition: all .3s ease-in;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
}

.legend-name {
  font-family: "Agency FB"; 
  color: white;
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow: hidden;
  background: linear-gradient(to right, #c7353b, #c7353b 50%, white 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;
}

.legend-name:hover {
  opacity: 1;
  background-position: 0 100%;
}

.legend-title {
  color: white;
  padding: 125px 0px 0px 0px;
  text-align: center;
  font-family: "Agency FB"; 
  font-size: 80px;
  color:  #c7353b;
}

hr {
  border: 0;
  display:block; 
  width: 75%;          
  height: 2px;
  margin: auto;  
  margin-top: 10px;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(transparent), to(transparent), color-stop(50%, #c7353b));
}

.legends-container {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
  margin: 0px 50px 0px 50px;
  padding: 0px 25px 150px 25px;
}

.legends {
  margin: 5px;
}


.background-legends {
  background-image: url('https://i.imgur.com/boJotd2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center; 
  background-size: cover;
  image-rendering: smooth;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}
