

.legend-detail {
  padding: 80px 25px 25px 50px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  height: 100%;
  font-family: "Agency FB"; 
}

.detail-image {
  display: block;
  padding: 0 20px;
  grid-area: 1 / 1 / 2 / 2;
}

.image {
  height: 700px;
  
}


.detail {
  
  line-height: 1.6;
  
}

.detail-name {
  font-size: 75px;
  letter-spacing: 1px;
  padding: 5px;
  display: block;
  line-height: 1.6;
  color: white;
}

.detail-lore {
  padding: 10px;
  letter-spacing: .9px;
  display: block;
  line-height: 1.6;
  width: 700px;
  font-size: 18px;
  color: white;
}

.ability-images {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  margin: 20px 50px 100px 50px;
  padding: 10px 10px 10px 10px;
}

.passive {
  height: 80px;
  padding-right: 40px;
  text-align: center;
  font-size: 20px;
}
.tactical {
  height: 80px;
  padding: 0px 40px 0px 40px;
  text-align: center;
  font-size: 20px;
}
.ultimate {
  height: 80px;
  padding-left: 40px;
  text-align: center;
  font-size: 20px;
}

.tip-container {

}

.tip-list {
  background: #FFFFFF;
  padding-top: 8px;
}

.user-tip {
}

.background-legends {
  background-image: url('https://i.imgur.com/boJotd2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center; 
  background-size: cover;
  image-rendering: smooth;
}


/* for tip-list */
/* @media (min-width: 960px).tip-list {
    width: 640px;
} */

/* for tip container */
/* @media (min-width: 640px) .tip-container {
  padding: 20px 24px;
} */