.wrapper{
  margin-top: 0px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.form{
  width: 352px;
  height: 375px;
  background: white;
  padding: 35px 50px;
  border-radius: 5px;
  margin-top: 250px;
  background-image: linear-gradient(rgba(1,1,1,0.8), black  );
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.form .title {
  text-align: center;
  margin: 0px;
  font-size: 50px;
  font-family: "Agency FB"; 
  letter-spacing: 2px;
  color: #c7353b;
}

.apex-logo {
  height: 40px;
}

.login {
  margin: 10px;
}

.form .input-wrap{
  margin-bottom: 20px;
  width: 300px;
  position: relative;
}

input {
  margin: 10px 0px 0px 0px;
  width: 100%;
}

.form .input-wrap:last-child{
  margin-bottom: 0;
}

.form .input-wrap input{
  padding: 15px;
  width: 100%;
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 3px;
}

.form .input-wrap input{
  background: white;
  padding-right: 35px;
}

.form .input-wrap input:focus{
  border-color: #c7353b;
}

.raise {
  font-family: "Agency FB"; 
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  padding: 15px;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  border: 1px solid transparent;
  cursor: pointer;
  user-select: none;
}
.raise::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.235);
  transition: all 0.3s;
}
.raise:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.raise::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0;
  background-color:#c7353abd;
  transition: all 0.3s;
  transform: scale(1.2,1.2);
}
.raise:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

.linkWrap {
  margin: 20px 0px 0px 0px;
  font-size: 18px;
  text-align: center;
  font-family: "Agency FB"; 
  color: white;
}

.signUpLink:link {
  padding-left: 4px;
  color: #c7353b;
}

.signUpLink:visited {
  color: #c7353b;
}

.signUpLink:hover {
  color: white;
}

.background {
  background-image: url('https://i.imgur.com/boJotd2.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: center; 
  background-size: cover;
  image-rendering: smooth;
}